.cabeçalho {
    font-family: var(--fonte);
    display: block;
    text-align: center;
    margin: 6rem;
}

.cabeçalho__span {
    font-size: 16px;
    font-weight: 600;
    color: var(--vermelho);
    margin: 1.5rem 0;
}

.cabeçalho__titulo {
    font-size: 48px;
    font-weight: 600;
    color: var(--preto);
    margin: 1.5rem 0;
}

.cabeçalho__texto {
    font-size: 20px;
    font-weight: 400;
    color: var(--cinza);
    margin: 0 20.25rem ;
    padding: 12px;
    line-height: 30px;
}