.navegação {
    margin: 1.5rem;
}
.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 32px;
 }
.imagem__nav {
    margin-left: 6em;
}

.lista__nav {
    display: flex;
}

.item-lista__nav {
    padding: 2em;
}

.link-lista__nav {
    text-decoration: none;
    font-family: var(--fonte);
    color: var(--cinza);
    font-weight: 500;
    font-size: 16px;
}

.botões__nav {
    margin-right: 4em;
    padding: 1em;
}

.botão__nav {
    padding: 1em;
    text-decoration: none;
    font-family: var(--fonte);
    font-weight: 500;
    font-size: 16px;
    background-color: var(--vermelho);
    color: var(--cor-de-fundo);
    border-radius: 10px;
    margin: 1em;
    cursor: pointer;
}