.metricas-container {
    font-family: var(--fonte);
    margin: 6rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.numeros__lista {
    width: 80%;
}
.numeros__lista-item {
    text-align: left;
    margin: 0 2rem;
}

.numeros__titulo {
    color: var(--vermelho);
    font-size: 60px;
    font-weight: 600;
    margin: 1rem 0;
}

.numeros__subtitulo {
    color: var(--preto);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.numeros__texto {
    color: var(--cinza);
    font-size: 16px;
    font-weight: 400;
    width: 89%;
    line-height: 24px;
}


    